.jumbotron-fluid {
  background-image: url("https://github.com/demonaco/clicky-game/blob/master/clicky-game/public/assets/images/wp3342327.jpg?raw=true") cover no-repeat;
}

.navbar {
  width: 100%;
}

.imgContainer {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 0;
  margin: 0 auto;
}

.card {
  margin-right: 5em;
  border: black solid 2px;
  margin-left: 4em;
}

body {
  background-color: orange;
}

.footer {
  height: 50px;
  width: 100%;
  background: black;
}